﻿@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Participating Students are</p>
<ul>
    <li>Basil Aiman</li>
    <li>Khalid Sulaiman</li>
    <li>Ahmed Walid</li>
    <li>Mahmoud Elian</li>

</ul>