﻿@model SimpleExpertSystem.DataStructure.Node
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h5 class="text-center">Do you have ...</h5>
    <h2 class="text-center">@Model.Text ?</h2>
</div>
<div class="row">
    <div class="col-xs-6">
        <form method="post">
            <input hidden name="internal_id" value="@Model.internal_id" />
            <input hidden name="value" type="text" value="-1"/>
            <button style="width:100%" type="submit" class="btn btn-danger">NO</button>
        </form>
    </div>
    <div class="col-xs-6">
        <form method="post">
            <input hidden name="internal_id" value="@Model.internal_id" />
            <input hidden name="value" type="text" value="1" />
            <button style="width:100%" type="submit" class="btn btn-success">YES</button>
        </form>
    </div>
</div>

