﻿@model SimpleExpertSystem.DataStructure.FactNode
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h4 class="text-center">You have :</h4>
    <h2>@Model.Text</h2>
</div>
<div>
    <h3>Becasue you have :</h3>
    <ul>
        @foreach (var item in Model.Neighbours)
        {
            <li>@item.Text</li>
        }
    </ul>
</div>

